
<head>
  <title><%= @title || "Songs By Sinatra"%></title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  </head>


<p>You can contact me by sending an email to daz at gmail.com</p>
